<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <div class="form">
    <form id="fileForm" method="post" enctype="multipart/form-data">
        <input type="text"  name='filename' placeholder="Имя файла" id="filenameInput" required>
        <input type="file" name="file" required>
        <button type="submit">Отправить</button>
    </form>
    </div>
    <script>
        document.getElementById('fileForm').addEventListener('submit', function(e) {
            const filename = document.getElementById('filenameInput').value.trim();
            if (!filename) {
                e.preventDefault();
                alert('Пожалуйста, введите имя файла');
                return;
            }
            console.log()
            this.action = `/file/table/${encodeURIComponent(filename)}/1/`;
        });
    </script>
</body>
</html>