<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица по файлу</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>

<table>
  <tr>
    <th>Слово</th>
    <th>tf</th>
    <th>idf</th>
  </tr>
    {% for item in data %}
    <tr>
      <td>{{ item[0] }}</td>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
    </tr>
  {% endfor %}<div class="pagination">

  {% for i in range(total_pages) %}
    {% if i + 1 == page_num %}
      <b class="currnet_page">{{i + 1}}</b>
    {% else %}
      <a class="page_btn"href="/file/table/{{ filename }}/{{i + 1}}"><button>{{i + 1}}</button></a>
    {% endif %}
  {% endfor %}</div>
</table>

</body>
</html>